body{
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif; 
	font-size: 16px;
	line-height: 1px;
}

{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.wrapper {
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	padding: 0 40px;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 90px;
}


h1 .lg{
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: -3px;
	display: block;
}

h1 .sm{
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
	letter-spacing: -2.4px;
}

h6 {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

p{
	line-height: 28px;
}

.hr{
	height: 2px;
	margin: 120px 0;
	background-color: #e6e6e6;
}

/*butons----------------------------*/

.btn {
	display: inline-block;
	vertical-align: middle;
	height: 42px;
	padding: 18px 35px 0;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.btn--warning{
	color: #0d0d0d;
	border-color: #f39c12;
}

.btn--sm{
	height: 38px;
	padding-top: 9px;
}

.btn:hover{
	background-color: #f39c12;
	color: #fff;
	text-decoration: none;
	border-color: #f39c12;
}

input.btn, button.btn{
	padding-top: 0 !important;
}

/*forms-------------------------------------*/
.form-field{
	position: relative;
	margin-bottom: 10px;
}

.form-field_icon{
	position: absolute;
	top: 15px;
	right: 30px;
	width: 20px;
	text-align: center;
	color: #808080;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.form-field_icon .icon_mail{
	font-size: 12px;
}

.form-control{
	display: block;
	padding: 0 70px 0 25px;
	width: 100%;
	height: 45px;
	border: 2px solid #d9d9d9;
	background-color: #ffffff;

	color: #808080;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.form-control:focus{
	border-color: #f39c12;
}

.form-control:focus + .form-field_icon{
	color: #f39c12;
}

textarea.form-control{
	min-height: 125px;
	resize: none;
	padding-top: 10px;
}



header {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	z-index: 99;
}

.header-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}


.logo a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	color: #ffffff;
	font-family: 'Montserrat' sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
}

.menu {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.menu_item {
	margin-left: 90px;
	position: relative;
}

.menu_item:after{
	content: "\\\\";
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color: #ffffff;
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 40px;
}

.menu_item:last-child:after{ display: none; }

.menu_link {
font-size: 18px;
font-weight: 600;
line-height: 20px;
text-transform: uppercase;
color: #ffffff;
}

.menu_link:hover {
	color: #0d0d0d;
}


.banner {
	padding-top: 450px;
	padding-bottom: 280px;
	height: 1100px; 
	text-align: center;
	background: url("../img/banner.png") no-repeat center top; 
}

.banner-slider .slick-dots{
	margin-top: 80px;
} 


.heading{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
 	-webkit-box-align: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	-ms-align-items: center;
 	margin: 0 auto 150px;
}

.heading h2{
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	width: 200px;
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	text-align: right;
	line-height: 35px;
	text-transform: uppercase;
	position: relative;
	margin-right: 40px;
}

.heading h2:after{
	content: '';
	display: block;
	width: 4px;
	height: 45px;
	background-color: #f39c12;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-left: 19px;
	margin-top: -22px;
}

.heading p {
	width: 890px;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
}

.about{
	padding: 100px 0 100px;
}


.about-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.about-wrap-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.about-wrap-img{
	position: relative;
	margin-left: 60px;
}

.about-wrap-img img{
	display: block;
	max-width: 100%;
}

.about-wrap-content_icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 125px;
	height: 125px;
	-webkit-box-flex: 0;
	    -ms-flex: none;
	        flex: none;
	font-size: 40px;

	margin-right: 29px;
	border: 2px solid #f39c12;
	background-color: #ffffff;
	border-radius: 50%;
}

.about-wrap-content_text h6{
	margin-bottom: 20px;
}

.about-wrap-content_text p{
	color: #737373;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.about-wrap-content_text .about-text {
	line-height: 28px;	
	color: #e74c3c;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 25px;
}

.about-wrap-img_icon{
	position: absolute;
	font-size: 32px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/*box-skills*/

.box-skills {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.box-skills_item {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	width: 50%;
}

.box-skills_item--img img{
	display: inline-block;
	max-width: 100%;
}

.box-skills_item--img {
	padding-right: 50px;
	text-align: right;
}


.box-skills_item--content {
	padding-left: 40px;
}

/* bars */
.box-bars {margin-top: 60px;}

.bars {margin-bottom: 35px;}

.bars__title{
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #0d0d0d;
	font-weight: 600;
	margin-bottom: 10px;
}

.bars__title span{
	color: #bfbfbf;
	font-weight: 600;
}

.bars__title .procent{
	color: #bfbfbf;
	font-weight: 300;
}

.bars-line{
	height: 10px;
	background: #e7e7e7;
}
.bars-line > div {
	height: 10px;
	background: #f29f1a;
}

.section {
	padding: 105px 0 100px;
}

.section-bg{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 700px;
	padding: 100px 0;
	background: url("../img/quote-bg.png") no-repeat center top;
	background-size: cover;
}

/* quote */

.quote{
	text-align: center;
	color: #fff;
}

.quote_text{
	color: #ffffff;
	font-size: 45px;
	font-weight: 700;
	line-height: 60px;
	position: relative;
	padding: 0 70px;
	margin-bottom: 33px;
}

.quote_text:after, .quote_text:before{
	content: '"';
	display: block;
	font-family: "Open Sans", sans-serif;
	font-size: 110px;
	font-weight: 700;
	line-height: 60px;
	position: absolute;
	top: 0;
}

.quote_text:before{
	left: 0;
}

.quote_text:after{
	right: 0;
}

.quote_author{
	display: inline-block;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.quote_author:before{
	content: "";
	display: block;
	margin: 0 auto 20px;
	width: 50px;
	height: 4px;
	background-color: #f39c12;
}

/* team ======================================*/

.team-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.team-list_item{
	width: 269px;
	padding: 25px 15px 30px;
	border-top: 4px solid transparent;
	text-align: center;
}
.team-list_item:hover{
	background-color: #f0f0f0;
	border-color: #f39c12;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.team-list_item:hover .team-list_job:after{
	background-color: #f39c12;
}

.team-list_img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 62px;
	background-color: #e8f8f4;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid #f2f2f2;
	margin: 0 auto 25px;
}
.team-list_img:after{
	content: "";
	display: block;
	position: absolute;
	width: 202px;
	height: 202px;
	border-radius: 50%;
	border: 1px solid #e6e6e6;

}

 .team-list_img img{
 	height: 100%;
 	width: 100%;
 	border-radius: 50%;
 	display: block;
 	color: #fff;
 }
.team-list_img .icon-user{
	color: #fff;
}
 .team-list_job{
 	display: block;
 	margin-top: 7px;
 	color: #999999;
	font-family: "Lato", sans-serif;
	font-size: 15px;
	font-weight: 400;
 }

.team-list_job:after{
	content: "";
	display: block;
	margin: 20px auto 15px;
	width: 20px;
	height: 4px;
	background-color: #cccccc;
}

.team-list_item p{
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 25px;
}

.sociallink {
	font-size: 18px;
	color: #999999;
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}
.sociallink:last-child {
	margin-right: 0;
}

.sociallink:hover{
	color: #f39c12;
}

.facts-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.facts-list_item:hover .facts-list_icon{
	border-color: #fff;
}
.facts-list_item:hover .facts-list_icon [class*="icon"]:before{
	color: #f39c12;
}

.facts-list_icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 170px;
	height: 170px;
	font-size: 32px;
	margin-bottom: 30px;
	border: 2px solid #f39c12;
	background-color: rgba(243, 156, 18, 0);
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.facts-list_icon [class*="icon"]:before{
	color: #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.facts-list h5{
	color: #ffffff;
	font-size: 25px;
	line-height: 29px;
	font-weight: 700;
	text-align: center;
}
.facts-list h5 span{ 
	font-size: 45px;
	line-height: 45px;
	display: block;
}

.sevice-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	margin: 0 -15px;
}

.service-list_item:hover .service-list_icon{
	background-color: #f39c12;
}

.service-list_item:hover .service-list_icon [class*="icon"]:before{
	color: #fff;
}


.service-list_icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 105px;
	height: 105px;
	margin:0 auto 30px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	color: #fff;
	font-size: 27px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.service-list_item{
	padding: 0 15px;
}

.service-list_icon [class*="icon"]:before{
	color: #0d0d0d;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.service-list_item h6{
	margin-bottom: 25px;
}

.service-list_item p{
	color: #737373;
	font-size: 16px;
	line-height: 28px;
}

.box-pricing{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.box-pricing .service-list_icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 0;
	width: 125px;
	height: 125px;
	font-size: 32px;
}

.pricing{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	text-align: center;
	margin-left: 5%;
}

.pricing_item{
	border: 1px solid #e6e6e6;
	width: 250px;
}
.pricing_item:first-child{
	margin-top: 17px;
	border-right: none;
}
.pricing_item:last-child{
	margin-top: 17px;
	border-left: none;
}
.pricing_item.active {
	border-left: none;
	border-right: none;
	border-top: 17px solid #f39c12;
	border-bottom: 11px solid #e6e6e6;
	background-color: #f2f2f2;
}

.pricing-header{
	padding: 25px 28px;
}

.pricing_item.active .pricing-header{
	background: #f39c12;
}

.pricing-header_title{
	color: #0d0d0d;
	font-size: 22px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

.pricing_item.active .pricing-header_title {
	color: #fff;
}

.pricing_item.active .pricing-header_title span:before {
	color: #fff;
}

.pricing-header_title span:before {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: #f39c12;
	margin: 5px auto;
}

.pricing-list{
	list-style: none;
}

.pricing-list li{
	color: #737373;
	font-size: 15px;
	line-height: 18px;
	padding: 15px;
	border-top: 1px solid #e6e6e6;
}

.pricing-list li:last-child{
	border-bottom: 1px solid #e6e6e6;

}

.pricing-list li:nth-child(odd){
	background: #fafafa;
}

.pricing_item.active .pricing-list li:nth-child(odd) {
	background: #e6e6e6;
}

.pricing-footer{
	padding: 34px 28px;
}

.pricing_item.active .pricing-footer{
	background: #e6e6e6;
}
.pricing-footer .btn{
	height: 38px;
	padding-top: 9px 33px 0;
}


.testimonial{
	text-align: center;
	color: #fff;
}

.testimonial-slider .slick-dots{
	margin-top: 26px;
}

.testimonial_text{
	margin: 35px 0 25px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 300;
	font-style: italic;
	line-height: 30px;
}

.testimonial .quote_author:before{
	display: none;
}

.testimonial .quote_author:after{
	content: "";
	display: block;
	margin: 20px auto 15px;
	width: 50px;
	height: 4px;
	background-color: #f39c12;
}

.testimonial_avatar{
	width: 104px;
	height: 104px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

.testimonial_avatar img{
	display: block;
	width: 100%;
}

.nav-tab-list{
	list-style: none;
	text-align: center;
	margin-bottom: 80px;
}

.nav-tab-list_item{
	display: inline-block;
}

.nav-tab-list_item.active .nav-tab-list_link{
		color: #f39c12;
}
.nav-tab-list_item:last-child:after{
	display: none;
}
.nav-tab-list_item:after{
	content: '\\\\';
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	color: #a6a6a6;
	margin: 0 18px;
}

.nav-tab-list_link {
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	color: #0d0d0d;
}

.nav-tab-list_link:hover{
	color: #f39c12;
}

.hide{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
}

.tab-cont{
	opacity: 1;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.tab-cont.hide{
	opacity: 0;
}

.portfolio-slider{
	position: relative;
}

.portfolio-slider .slick-dots{
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}

.portfolio-slider .slick-dots li{
	display: block;
	margin: 5px 0;
}

.portfolio-slider_buttons{
	margin-top: 50px;
	margin-bottom: 24px;
	text-align: center;
}

.portfolio-slider_buttons button{
	width: 35px;
	height: 35px;
	border: 2px solid #e6e6e6;
	background-color: #ffffff;
}

.portfolio-slider_footer{
	text-align: center;
}

.portfolio-slider_footer .portfolio-list_title{
	font-size: 20px;
	line-height: 24px;
}

.portfolio-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.portfolio-list_item{
	width: 25%;
	position: relative;
}

.portfolio-list_item:nth-child(2) .portfolio-list_img,
.portfolio-list_item:nth-child(4) .portfolio-list_img,
.portfolio-list_item:nth-child(5) .portfolio-list_img,
.portfolio-list_item:nth-child(7) .portfolio-list_img{
background-color: #b7b7b7;
}

.portfolio-list_item:hover .portfolio-list_img{
	background: #fff;
}

.portfolio-list_item:hover .portfolio-list_img img{
	opacity: 0.4;
}

.portfolio-list_item:hover .portfolio-list_title{
	color: #f39c12;
}

.portfolio-list_item:hover .portfolio-list_prevew{
	display: block;
}

.portfolio-list_item:hover .portfolio-list_img [class*="icon"]{
	display: none;
}

.portfolio-list_link{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.portfolio-list_img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 58px;
	height: 220px;
	background-color: #c7c7c7;
	position: relative;
	overflow: hidden;
}

.portfolio-list_img img{
	display: block;
	width: 100%;
	min-height: 100%;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.portfolio-list_footer{
	padding: 20px 10px;
	text-align: center;
}

.portfolio-list_title{
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 700;
	color: #0d0d0d;
	font-size: 15px;
	margin-bottom: 10px;
}

.portfolio-list_category{
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 400;
}

.portfolio-list_prevew{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 99px;
	height: 99px;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background: rgba(243, 156, 18, 0.5) url("../img/plus.png") no-repeat center;
	border-radius: 50%;
	display: none;
	z-index: 3;
}

.portfolio-list_prevew:hover{
	background-color: rgba(243, 156, 18, 0.8);
}

.tweet{
	text-align: center;
	color: #fff;
}

.tweet-wrap_icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 104px;
	height: 104px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	margin: 0 auto;
}

.tweet-wrap_icon img{
	display: block;
}

.tweet-wrap_text{
	margin: 35px 0 6px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
}

.tweet-wrap_text a{
	color: #f39c12;
}

.tweet-wrap_text a:hover{
	text-decoration: underline;
}

.tweet-wrap_time{
	color: #808080;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 38px;
}

.blog-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.blog-list_item{
	width: 555px;
	margin-bottom: 60px;	
}

.blog-list_img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 58px;
	position: relative;
	height: 300px;
	overflow: hidden;
	background-color: #b7b7b7;
}

.blog-list_img:hover .blog-list_title{
	color: #f39c12;
}

.blog-list_img img{
	width: 100%;
	display: block;
	min-height: 300px; 
}

.blog-list_link{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 2;
}

.blog-list_header{
	position: absolute;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.blog-list_title{
	background: #fff;
	padding: 25px 20px 10px;
}


.blog-list_icon{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 44px;
	height: 44px;
	background-color: #f39c12;
	font-size: 18px;
	color: #fff;
}

.blog-list_footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;	
}

.blog-list_data{
	text-align: right;
	display: block;
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.blog-list_data span{
	display: block;
	white-space: nowrap;
}

.blog-list_info{
	padding: 0 17px 0 40px;

}

.blog-list_info p{
	padding-bottom: 28px;
}

.blog-list_info p{
	padding-bottom: 28px;
	line-height: 28px;
	color: #737373;
	font-size: 16px;
}


.blog-list_info .btn{
	height: 35px;
	font-size: 14px;
	padding: 15px 27px 0;
}

/*Clients-----------------------*/

.clients{
	text-align: center;
	color: #fff;
	margin-bottom: 55px;
}


.clients_text{
	color: #ffffff;
	font-size: 30px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
}

.clients_item{
	width: 257px;
	margin: 0 10px 20px;
}

.clients-list{
	margin: 0 -10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
	-webkit-box-pack: justify;	
	    -ms-flex-pack: justify;	
	        justify-content: space-between;
	margin-top: 30px;
}
.clients-block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 162px;
	border: 2px solid rgba(255, 255, 255, 0.25);
	background-color: transparent;
}

.clients-block img{
	max-height: 100%;
	max-width: 100%;
}

.clients_item:hover .clients-block{
	border: 2px solid #fff;
}

/* contact-------------------------------*/

.contact-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.contact-wrap .contact-form{
	padding-top: 8px;
}

.contact-wrap h6{
	margin-bottom: 28px;
}
.contact-wrap p{
	margin-bottom: 35px;
}

.contact-wrap_left{
	width: 54%;
}

.contact-wrap-right{
	width: 46%;
	-ms-flex-negative: 47%;
	    flex-shrink: 47%;
	padding-left: 60px;
}
.contact-list{
	list-style: none;
}

.contact-list_item{
	position: relative;
	margin-bottom: 18px;
	padding-left: 50px;
	color: #0d0d0d;
	line-height: 25px;
	letter-spacing: -0.32px;
}

.contact-list_item a{
	color: #0d0d0d;
}

.contact-list_item a:hover{
	text-decoration: none;
	color: #f39c12;
}

.contact-list_icon{
	position: absolute;
	left: 0;
	top: -4px;
	width: 34px;
	height: 34px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/*map-------------------------*/
.map-wrapper{
	height: 600px;
}

#map{
	position: relative;
}

#map:after, #map:before{
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-left: 100vw solid transparent;
}

#map:before{
	top: 0;
	right: 0;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.footer-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer-flex .social{
	margin-left: auto;
}

.footer-flex .sociallink
{
	color: #0d0d0d;
}

.footer-flex .copyright{
	color: #0d0d0d;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
}

.menu-toggle{
	display: none;
}



@media(min-height: 860px){
	header{
		top: 40px;
	}

	.banner{
		min-height: 850px;
	}
}


@media(max-width: 1199px) {
	header{
		top: 40px;
	}


	h1 {
		margin-bottom: 50px;
	}
	h1, h1 .lg{
		font-size: 38px;
		line-height: 45px;
	}

	h1 .lg{
		font-size: 50px;
		line-height: 66px;
	}



	.logo a{
		height: 120px;
		width: 120px;
		font-size: 34px;
		line-height: 34px;
	}

	.menu_item {
		margin-left: 54px;
	}
	
	.menu_item:after {
		margin-left: 20px;
	}


	.heading{
		margin-bottom: 110px;
	}
	.heading h2{
		width: auto;
	}

	.heading p{
		font-size: 14px;
		line-height: 18px;
	}

	.banner-slider .slick-dots{
		margin-top: 50px;
	}

	.about-wrap-img{
		max-width: 40%;
		margin-left: 40px;
	}

	.box-skills_item--img{
		width: 44%;
		-webkit-box-flex: 0;
		    -ms-flex: none;
		        flex: none;
	}

	.section-bg{
		height: auto;
		min-height: 550px;
	}

	.quote_text{
		font-size: 35px;
		line-height: 50px;
	}

	.team-list_img{
		height: 150px;
		width: 150px;
	}
	
	.team-list_img:after{
		height: 152px;
		width: 152px;
	}

	.team-list_item p{
		font-size: 14px;
		line-height: 22px;
	}

	.pricing{
		margin-left: 3%; 
	}

	.pricing_item{
		width: 210px;

	}

	.clients-block {
		height: 130px; 
	}

	.blog-list_item{
		max-width: 500px;
	}

	
}

@media(max-width: 1024px){
	.blog-list_item{
		width: 450px;
	}
}

@media(min-width: 992px){
	.menu{
		display: flex !important;
	}
}

@media(max-width: 991px){
	.heading{
		margin-bottom: 80px;
	}

	.section{
		padding: 70px 0;
	}

	.hr{
		margin: 80px 0;
	}

	.about-wrap, .box-skills{
		display: block;
	}

	.about-wrap-img {
		margin: 40px auto 0;
		max-width: 80%;
	}

	.about-wrap-img img{
		width: 100%;
	}

	.box-skills_item--img{
		margin: 0 auto 40px;
		width: auto;
		padding-right: 0;
		text-align: center;
	}

	.box-skills_item--content{
		padding-left: 0;
	}

	.box-skills_item{
		width: auto;
	}

	.section-bg{
		height: auto;
		min-height: 480px;
	}

	.quote_text{
		font-size: 30px;
		line-height: 42px;
	}

	.quote_text:after, .quote_text:before{
		font-size: 91px;
	}

	.quote_author{
		font-size: 19px;
		line-height: 25px;
	}

	.quote_author:before {
		margin-bottom: 18px;
	}

	.team-list{
		flex-wrap: wrap;
	}

	.team-list_item{
		width: 50%;
	}

	.facts-list_icon{
		width: 140px;
		height: 140px;
		margin-bottom: 20px;
	}

	.facts-list h5{
		font-size: 20px;
		line-height: 24px;
	}

	.facts-list h5 span{
		font-size: 35px;
		line-height: 42px;
	}

	.service-list{
		margin: 0 -10px;
	}

	.service-list_item{
		padding: 0 10px;
	}

	.service-list_item p, .contact-wrap p, .contact-list_item {
		font-size: 14px;
		line-height: 22px;
	}

	.box-pricing{
		display: block; 
	}

	.box-pricing .service-list_item{
		text-align: center;
		max-width: 80%;
		margin: 0 auto 50px;
	}

	.box-pricing .service-list_icon{
		margin-left: auto;
	}

	.pricing{
		margin-left: 0;
	}

	.pricing_item{
		width: auto;
		flex: 1;
	}

	 .contact-wrap_right {
	 	padding-left: 30px;
	 }

	 .clients-block {
		height: 115px; 
	}

	.footer-flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.footer-flex .social{
		margin-left: 0;
		margin-bottom: 20px;
	}

	.copyright {
		order: 1;
	}

	.navigation {
		position: relative;
	}
	.menu{
		display: none;
		position: absolute;
		top: 100%;
		margin-top: 20px; 
		right: 0;
		min-width: 200px;
		padding: 10px 0;
		background: rgba(0, 0, 0, 7);
	}

	.menu_item{
		margin-left: 0;
	}

	.menu_link{
		display: block;
		padding: 10px 20px;
	}

	.menu_link:hover{
		color: #fff;
	}

	.menu_item:after{
		display: none;
	}

	.menu-toggle{
		display: inline-block;
		border: none;
		background-color: transparent;
		padding: 0;
		width: 37px;
	}

	.menu-toggle span{
		display: block;
		height: 3px;
		background: #fff;
	}

	.menu-toggle span + span{
		margin-top: 8px;
	}

	.nav-tab-list_item{
		margin: 0 10px;
	}

	.nav-tab-list_item:after{
		display: none;
	}
	
	.nav-tab-list{
		margin-bottom: 40px;
	}

	.portfolio-list_item{
		width: 33.33%;
	}

	.blog-list_footer{
		display: block;
	}

	.blog-list_info{
		padding-left: 0;
	}

	.blog-list_data{
		text-align: left;
		margin-bottom: 10px;
	}

	.blog-list_data span {
		display: inline-block;
		margin-right: 10px;
	}

	.blog-list_item{
		width: 330px;
	}
}

@media(max-width: 767px){
	.wrapper{
		padding-left: 20px;
		padding-right: 20px;
	}

	.section{
		padding: 40px 0;
	}

	h1, h1 .sm{
		font-size: 20px;
		line-height: 28px;
	}

	h1 .lg{
		font-size: 32px;
		line-height: 40px;
	}
	header{
		top: 20px;
	}
	.logo a{
		height: 80px;
		width: 80px;
		font-size: 20px;
		line-height: 20px;
	}


	.banner{
		min-height: 1px;
		height: auto;
		padding:  149px 0 100px;
	}

	.banner:after{
		display: none;
	}

	.banner-slider .slick-dots {
		margin-top: 30px;
	}

	.hr{
		margin: 45px 0;
	}

	.heading{
		display: block;
		margin-bottom: 50px;
	}

	.heading p{
		display: none;
	}

	.heading h2{
		margin-right: 0;
		text-align: center;
	}

	.heading h2:after{
		position: static;
		margin: 10px auto 0;
		width: 45px;
		height: 4px;
	}

	.about-wrap-content{
		display: block;
		text-align: center;
	}

	.about-wrap-content_icon{
		margin: 0 auto 30px;
	}

	.about-wrap-img {
		max-width: 100%;
	}

	.section-bg{
		padding-top: 80px;
		padding-bottom: 80px;
		min-height: 200px;
	}

	.quote_text{
		font-size: 22px;
		line-height: 28px;
		padding: 0 40px;
	}

	.quote_text:after, .quote_text:before{
		font-size: 70px;
	}

	.quote_author{
		font-size: 16px;
		line-height: 20px;
	}

	.quote_author:before {
		margin-bottom: 15px;
	}

	.facts-list{
		flex-wrap: wrap;
		justify-content: center;
	}

	.facts-list_item{
		width: 50%;
		margin-bottom: 20px;
	}

	.facts-list_icon{
		margin: 0 auto 15px;
	}

	.sevice-list {
		display: block;
	}

	.service-list_item {
		margin: 0 auto 40px;
		max-width: 420px;
	}

	.service-list_item, .box-pricing .service-list_item{
		margin: 0 auto 40px;
		max-width: 420px;
	}

	.pricing{
		display: block;
		margin: 0 auto;
		max-width: 420px;
	}

	.pricing-item:first-child{
		border-right: 1px solid #e6e6e6;
		margin-top: 6px; 
	}

	.pricing-item:last-child{
		border-right: 1px solid #e6e6e6;
		margin-top: 6px; 
	}

	.testimonial_text{
		font-size: 18px;
		line-height: 24px;
	}

	.contact-wrap{
		display: block;
	}

	.contact-wrap_left {
		width: auto;
		margin-bottom: 40px;
	}

	.contact-wrap-right {
		width: auto;
		padding-left: 0;
		
	}

	.clients-list {
		display: block;
		text-align: center;
	}

	 .clients_item {
		display: inline-block;
		vertical-align: top;
		width: 220px;
	}

	.map-wrapper{
		height: 320px;
	}

	#map:before, #map:after{
		display: none;
	}


	.footer-flex .social{
		margin-left: 0;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.copyright{
		text-align: center;
		font-size: 14px;
	}

	.nav-tab-list_link{
		display: inline-block;
		padding: 10px 30px;
		min-width: 180px;
		max-width: 250px;
		text-align: center;
		border: 2px solid;
		border-radius: 6px;
	}

	.nav-tab-list .slick-arrow {
    	position: absolute;
    	top: 50%;
    	z-index: 10;
    	transform: translate(0, -50%);
    	width: 38px;
    	height: 38px;
    	border: 2px solid #e6e6e6;
   		background-color: #fff;
   		margin: 0 4px;
}

	.nav-tab-list .slick-next {
		right: 0;
	}

	.portfolio-list {
		display: block;
	}

	.portfolio-list_item{
		width: auto;
	}

	.blog-list_item{
		width: 500px;
	}
	
	.blog-list{
		justify-content: center;
	}

}

@media (max-width: 479px) {
	.section-bg{
		background-image: none;
		background-color: #2b2a2a;
	}

	.quote_text {
		font-size: 16px;
		line-height: 22px;
		padding: 0;
		margin-bottom: 25px;
	}

	.quote_text:after, .quote_text:before {
		/*position: static;
		display: inline-block;
		font-size: 25px;
		line-height: 20px;*/
		display: none;
	}

	.quote_author{
		font-size: 14px;
		line-height: 18px;
	}

	.team-list, .facts-list{
		display: block;
	}

	.team-list_item{
		width: auto;
		border-bottom: 1px solid #eee;
	}

	.facts-list_item{
		width: auto;
	}

}
